@import 'style';


@media only screen and(max-width: 1200px){

    // --- Header

    .header{

        &__adptMenu{
            display: none;       
        }

        &__bar{
            padding-top: 72px;
            display: block;

            i{
                font-size: 26px;
                color: $colorWhite;
                cursor: pointer;
            }

        }

        &__hideMenu{
            right: 0px;
        }

        .hideMenuBar{
            display: none;
        }
    }

    // --- Devices

    .devices{

        padding-bottom: 120px;

        &__text ul{

            padding-left: 20px;
        }

        &__img{

            margin-right: 142px;

            img{
                width: 360px;
            }
        }

    }

    // --- Counters

    .counters{

        &__text{

            span{
                font-size: 13px;
            }
        }
    }
}

@media only screen and(max-width: 992px){

    .deactivated{
        display: none;
    }
    
    .active{
        display: block;
    }

    // --- Header

    .header{

        &__circle ul{
            padding-top: 90px;
        }
    }

    // --- Realization

    .realization{

        padding-bottom: 161px;

        &__img-left,
        &__img-right{
            
            img{
                width: 580px;
            }
        }

        &__img-center{
            
            top: 48px;
            margin-left: -290px;

            img{
                width: 580px;
            }
        }
    }

    // --- Boxes

    .boxes{

        &__text{
            
            h4{
                font-size: 22px;
            }

            p{
                font-size: 14px;
            }
        }

        &__btn{
            
            button{
                @include btn(140px, 44px);

                font-size: 14px;
            }
        }
    }

    // --- Devices

    .devices{
        position: relative;
        padding-bottom: 20px;

        &__img{
            position: relative;
            width: 100%;
            top: 20px;
            right: auto;
            margin-right: 0;
            text-align: center;
        }

    }

    // --- Counters

    .counters{


        &__arrows{
            padding-top: 134px;
            cursor: pointer;

            i{
                color: $colorWhite;
                font-size: 32px;
            }
        }
    }

    // --- RecentPosts

    .recentPosts{

        &__hideBlock{
            display: block;
        }

        &__arrows{

            padding-top: 26px;

            i{
                font-size: 24px;
                cursor: pointer;
                color: $footerReadMore;
            }

            :hover{
                color: $colorHover;
            }

            :nth-child(1){
                margin-right: 10px;
            }
        }
    }

    // --- CopyRight

    .copyRight{

        ul{

            li{
                font-size: 11px;
            }
        }

        &__left{
    
            li{
    
                ::after{
                    top: -1px;
                    right: -5px;
                }
            }
    
        }

        &__right{
    
            :nth-child(1){
                
                margin-right: 4px;
    
                ::after{
                    top: 1px;
                    right: -1px;
                }
            }
    
        }

    }

    
}

@media only screen and(max-width: 769px){

    // --- Header

    .header{

        &__circle ul{
            padding-top: 60px;
        }

        &__title{

            h4{
                font-size: 28px;
            }

            h3{
                font-size: 42px;
            }
        }
    }

    // --- Realization

    .realization{

        padding-bottom: 140px;

        &__img-left,
        &__img-right{
            
            img{
                width: 540px;
            }
        }

        &__img-center{
            
            top: 65px;
            margin-left: -260px;

            img{
                width: 520px;
            }
        }
    }

    // --- Boxes

    .boxes{

        &__text{
            
            h4{
                font-size: 24px;
            }

            p{
                font-size: 14px;
            }
        }

        &__btn{
            
            button{
                @include btn(170px, 50px);

                font-size: 16px;
            }
        }
    }

    // --- projects

    .projects{

        &__img{

            img{
                height: 180px;
            }
        }

        &__img-text{

            h5{
                font-size: 16px;
            }

            p{
                font-size: 10px;
            }
        }
    }

    // --- Devices

    .devices{

        &__text{

            ul{

                padding-left: 0px;

                li{

                    font-size: 14px;

                    i{
                        margin-right: 6px;
                    }
                }
            }
        }

    }

      // --- CopyRight

      .copyRight{

        ul{

            li{
                font-size: 10px;
            }
        }

        &__left{
    
            li{
                margin-right: 6px;
                ::after{
                    top: -1px;
                    right: -3px;
                }
            }
    
        }

        &__right{
    
            :nth-child(1){
                
                margin-right: 4px;
    
                ::after{
                    top: 1px;
                    right: -1px;
                }
            }
    
        }

    }

}
    

@media only screen and(max-width: 576px){

    // --- Header

    .header{

        &__title{

            padding-top: 120px;

            h4{
                font-size: 18px;
            }

            h3{
                font-size: 30px;
            }
        }

        &__arrow{
            font-size: 26px;
            padding-top: 200px;
        }

    }

    // --- Realization

    .realization{

        padding-bottom: 46px;

        &__img-left,
        &__img-right{
            
            img{
                width: 380px;
            }
        }

        &__img-center{
            
            top: 77px;
            margin-left: -175px;

            img{
                width: 350px;
            }
        }
    }

    // --- Boxes

    .boxes{

        &__btn{
            text-align: left;
        }
    }

    // --- projects

    .projects{

        &__chooseClass{

            button{
                font-size: 10px;
                pad: 5px 6px;
            }
        }

        &__img{

            img{
                height: 140px;
            }
        }
    }

    // --- Devices

    .devices{

        &__img{

            img{
                width: 300px;
            }
        }

    }

    // --- Counters

    .counters{

        &__icon{

            i{
                font-size: 30px;
            }
        }

        &__text{

            h4{
                font-size: 40px;
            }

            span{
                font-size: 12px;
            }
        }

        &__arrows{

            i{
                font-size: 22px;
            }
        }
    }

    // --- CopyRight

    .copyRight{

        .blockRight{
            text-align: left;
        }
    }
}

@media only screen and(max-width: 360px){

    // --- Header

    .header{

        &__title{
            padding-top: 80px;

            h4{
                font-size: 16px;
            }

            h3{
                font-size: 28px;
            }
        }

        &__circle{
            display: none;
        }
    }

    // --- Realization

    .realization{

        padding-bottom: 11px;

        &__img-left,
        &__img-right{
            
            img{
                width: 330px;
            }
        }

        &__img-center{
            
            top: 78px;
            margin-left: -146px;

            img{
                width: 292px;
            }
        }
    }

    // --- Project

    .projects{

        &__img{

            img{
                height: 110px;
            }
        }
    }

    // --- RecentPosts

    .recentPosts{

        &__text{

            h4{
                font-size: 17px;
            }

            p{
                font-size: 12px;
            }
        }
    }
}