$colorWhite: #ffffff;
$colorHover: #c7b299;
$colorBtn: #998675;
$borderBot: #736357;
$colorTextTitle: #555555;
$colorText: #8c8c8c;
$headerCircleColor: #939190;
$headerCircleColorBorder: #d3c1ad;
$sectionBgColor: #fbfaf8;
$leftGradientColor: #211b19;
$rightGradientColor: #4e3427;
$boxesTextColor: #615855;
$borderColorBtn: #ebebeb;
$projectsColorImgText: #362f2d;
$CalendarNumbBg: #363636;
$CalendarMonthBg: #252525;
$CalendarMonthBgHover: #a48d72;
$footerBgColor: #191919;
$footerReadMore: #d1d1d1;
$colorTextSpan: #00bff3;

